body{
    div.container{
        div.inner{
            div.content{
                h1{
                    font-weight: 200;
                    font-size: 40px;
                }
                h3{
                    color: rgb(56, 53, 53);
                    margin: 30px 0 20px;
                }
                p{
                    font-size: 18px;
                    color: rgb(77, 73, 73);
                }
            }
        }
    }
}